<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>

<body style="">
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '<%- process.env.FACEBOOK_APP_ID %>',
        xfbml      : true,
        version    : 'v2.6'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

<div class="container-fluid" style="text-align:center;color:white; background-color:#3A539B;">

  <nav class="navbar navbar-default navbar-fixed-top visible-xs" style="background-color:white;  border-bottom: 5px solid #3345CC;">
        <div class="container-fluid">
          <div class="navbar-header">

            <span class="navbar-toggle-three"><p><a style="color:#3345CC; text-decoration:none; text-transform:uppercase;" href="/angular">The List</p></a></span>
            <span class="navbar-toggle-three"><p><a style="color:#3345CC; text-decoration:none; text-transform:uppercase;" href="https://github.com/adgreen93/patron-nyc">Github</p></a></span>
            <a class="navbar-brand" href="/"><img src="https://s3.amazonaws.com/patron-bars/assets/patron-simple-logo.png" class="img-responsive" style="width:100px;"></a>

          </div>


        </div><!--/.container-fluid -->
      </nav>


              <div style="height:30px;"></div>
            <div class="row hidden-xs" style="text-transform:uppercase;">
              <div class="col-sm-2 col-sm-offset-1"> <p class="book-header-main hvr-grow" style=" padding-top:35px; "><a style="color:white; text-decoration:none;" href="/angular">The List</a></p> </div>
              <div class="col-sm-2"> <p class="book-header-main hvr-grow" style=" padding-top:35px;"><a style="color:white; text-decoration:none;" href="https://www.facebook.com/Patron-NYC-362819280749662/">Messenger </a></p> </div>
              <div class="col-sm-2">
          <a href="/"> <img src="https://s3.amazonaws.com/aws-website-portfoliosite-bf6tr/patron-messenger-short-header.png" class="img-responsive hvr-grow" ></a>

          </div>
          <div class="col-sm-2"> <p class="book-header-main hvr-grow" style=" padding-top:35px;"><a style="color:white; text-decoration:none;" href="http://www.alexandergreen.me">Alexander </a> </p></div>
          <div class="col-sm-2"><p class="book-header-main hvr-grow" style=" padding-top:35px;"><a style="color:white;  text-decoration:none;" href="https://github.com/adgreen93/patron-nyc"> Github </a></p> </div>

          </div>



          <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                    <div style="height:50px;"></div>
              <h2 class="header-one">A Facebook Messenger bot serving up spots for friends and lovers in New York City.</h2>
                <hr style="width:50%;">
              <p class="text"> Built by Alexander Green. </p>
                <div class="fb-like" data-href="https://www.facebook.com/Patron-NYC-362819280749662/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
              <div style="height:25px;"></div>


              </div>
              <div class="col-sm-4 col-sm-offset-4">
                <div style="height:50px;"></div>
                <img src="https://s3.amazonaws.com/aws-website-portfoliosite-bf6tr/iphone-patron.png" style="width:75%; margin-bottom: -150px;"></img>

              </div>
          </div>

          <div class="row" style="background-color:white; color:#3A539B;">
            <div style="height:250px;"></div>
            <div class="col-sm-3 col-sm-offset-3">
              <div style="height:50px;"></div>
              <h2 class="header-one"> Search by borough. 🗽</h2>
                    <hr style="width:50%;">

              <p class="text"> Try Brooklyn, Queens, Manhattan, and Long Island. That's right - I hate Staten Island so much we went with Nassau County first. Scandalous.  </p>
            </div>

            <div class="col-sm-3">
              <div style="height:50px;" class="visible-xs"></div>
              <img class="img-responsive" src="https://s3.amazonaws.com/patron-bars/gifs/patron-bar-search-borough.gif"></img>

            </div>

          </div>

          <div class="row"  style="background-color:white; color:#3A539B;">
            <div style="height:100px;"></div>

            <div class="col-sm-3 col-sm-offset-3">
              <h2 class="header-one visible-xs"> Search by price. 💸</h2>
                <hr style="width:50%;" class="visible-xs">

              <p class="text visible-xs"> Try a price range (from 1 to 5, cheap to expensive). Cheers to all the dive bars out there. </p>
<div style="height:50px;" class="visible-xs"></div>
              <img class="img-responsive" src="https://s3.amazonaws.com/patron-bars/gifs/patron-bar-search-price.gif"></img>

            </div>

            <div class="col-sm-3">
              <div style="height:50px;"></div>
              <h2 class="header-one hidden-xs"> Search by price. 💸</h2>
                    <hr style="width:50%;" class="hidden-xs">
              <p class="text hidden-xs"> Try a price range (from 1 to 5, cheap to expensive). Cheers to all the dive bars out there. </p>
            </div>


          </div>

          <div class="row" style="background-color:white; color:#3A539B;">
            <div style="height:100px;"></div>
            <div class="col-sm-3 col-sm-offset-3">
              <div style="height:50px;"></div>
              <h2 class="header-one"> Search by type. 😘</h2>
              <hr style="width:50%;">
              <p class="text"> Find what you're looking for.  <br>


              These are the five ways you can search: college bar, dive bar, chill, dancing, date spot.<br>

        </p>
            </div>

            <div class="col-sm-3">
                  <div style="height:50px;" class="visible-xs"></div>
              <img class="img-responsive" src="https://s3.amazonaws.com/patron-bars/gifs/patron-bar-search-type.gif"></img>
              <div style="height:100px;"></div>
            </div>

          </div>

          <div class="row" style="background-color:white; color:#3A539B;">
            <div class="col-sm-4 col-sm-offset-4">
              <div style="height:50px;"></div>
                <h2 class="header-one"> This one's on the house. 🍻</h2>
                <hr style="width:50%;">
                <p class="text"> Get drunk, meet people, have fun. <br>

    <div style="height:25px;"></div>
                  <div class="panel panel-default" >
                    <div class="panel-body" style="background-color:white;">
                        <div style="height:20px;"></div>
                  <div class="fb-send-to-messenger"
                    messenger_app_id="<%- process.env.FACEBOOK_APP_ID %>"
                    page_id="<%- process.env.FACEBOOK_PAGE_ID %>"
                    data-ref="PASS_THROUGH_PARAM"
                    color="blue"
                    size="large" style="margin:auto;"></div>
<div style="height:20px;"></div>
                        </div>

                      </div>
    <div style="height:50px;"></div>
            </div>

          </div>






</div>

<footer class="footer">
      <div class="container">
          <div style="height:20px;"></div>
          <div class="row">

          <div class="col-xs-4 col-xs-offset-4">

<div style="height:20px;"></div>
      </div>

        </div>

      </div>
    </footer>



</body>
