body {
 background-color:white;


}

.text {
  font-family: 'Roboto', sans-serif;
}

.book {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}


.header-one {
  font-family: 'Montserrat', sans-serif;
}

.footer {

    width: 100%;
    height: 60px;
        color: white;
    background-color: #3345CC;

}
