body {
 background-color:white;


}

.text {
  font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.book {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.book-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.book-header-main {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.search input {
  width: 250px;

  padding:7px 20px;
  background:none;
  background:transparent;

  border:none;
  outline:none;


}

.select_style {
    background: #FFF;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: solid 1px #DADADA;


}

.select_style select {
    -webkit-appearance: none;
    appearance:none;
    width:100%;
    background:none;
    background:transparent;

    border:none;
    outline:none;
    cursor:pointer;
    padding:7px 20px;
}

.search .fa-search {
  position: absolute;
  top: 11px;
  left: 25px;

  color: #aaa;
}

.book-header:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid #3345CC;
}

.book-header-main:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}

.header-one {
  font-family: 'Montserrat', sans-serif;
}

.footer {

    width: 100%;
    height: 80px;
    color: #3345CC;
    background-color: #fff;

}

.navbar-toggle-three{

  position:relative;
  float:right;
  padding:10px 10px;
  margin-top: 14px;
  font-family: 'Montserrat', sans-serif;

  margin-right:15px;

}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
